.header {
  background-color: #20e420a8;
  padding: 10px !important;
}

.btn-delete {
  border: 1px solid #ff5140;
  color: black;
}

.btn-delete:hover {
  background-color: #ff5140;
  color: white;
}

