<div class="modal-header header">
  <h4 class="modal-title" id="modal-basic-title">Eliminar Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Esta seguro que desea eliminar al cliente {{ clientName }} ?</p>
</div>
<div class="modal-footer ">
  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-delete" (click)="delete()">Eliminar</button>
</div>
