.container-list-client {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0;
}

.list-clientes {
  width: 90%;
  height: max-content;
}

.btn-edit{
  background-color: #5bc35bde;
  color: white;
  padding: 4px 8px;
}

.btn-del {
  background-color: #e80606cf;
  color: white;
  padding: 4px 8px;
}

.container-filter {
  margin-top: 4%;
  margin-bottom: 3%;
  .list-concessionaire {
    background-color: transparent;
    border: none;
  }
}

.btn-search {
  border: 2px solid #14e213;
  background-color: white;
  color: black;
  margin-left: 2%;
}
.btn-search:hover {
  background-color: #14e213;
  color: white;
}
