<div class="container-fluid container-list-client">
  <!--<app-header></app-header>-->

  <div class="container-fluid list-clientes">

    <div class="container-fluid container-filter">
      <label class="d-none d-md-inline">Filtrar:</label>
      <select class="list-concessionaire" [(ngModel)]="concessionaireSelected">
        <option [value]="concessionaire.concesionKey" *ngFor="let concessionaire of concessionaires"> {{ concessionaire.name }} </option>
      </select>
      <button class="btn btn-search" (click)="searchByConcessionaire()">
        <p class="m-0 d-none d-sm-inline">Buscar</p>
        <span><i class="fas fa-search"></i></span>
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Ultima conexión</th>
          <th scope="col">Cargo</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let client of clients; index as index">
          <td> {{ index + 1 }} </td>
          <td> {{ client.name }} </td>
          <td> {{ client.lastName }}</td>
          <td> {{ client.age }}</td>
          <td> {{ buildDate(client.lastUpdate) }}</td>
          <td> {{ client.position }}</td>
          <td>
            <div class="d-flex">
              <button class="btn btn-edit ml-auto" (click)="editClient(client.clientKey)">
                <span><i class="fas fa-edit"></i></span>
              </button>
              <button class="btn btn-del ml-3 mr-auto" (click)="openModalDelete(client.clientKey, index, client.name)">
                <span>
                  <i class="far fa-trash-alt"></i>
                </span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
