.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  //background-color: red;
  padding: 0;
}

.login {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  //background-color: blue;
  max-width: 600px;
  min-height: 500px;
}

.img-login {
  max-height: 200px;
}

.input-data {
  border-radius: 15px;
  border: 2px solid #14e213;
  box-shadow: 3px 8px 7px lightgrey;
}

.text-error {
  margin-bottom: 2%;
  color: red;
  display: block;
}

.btn-login {
  border: 2px solid #14e213;
  border-radius: 10px;
  color: black;
}

.btn-login:hover {
  background-color: #14e213;
  color: white;
}
