<div class="container-fluid login-container">
  <div class="container login">

    <div class="text-center mt-5">
      <img src="assets/recursos/car.jpg" class="img-login">
    </div>

    <form [formGroup]="logInForm">

      <div class="row">

        <div class="col-12">
          <h1 class="text-center">Login</h1>
          <h3 class="font-italic text-center">Bienvenido</h3>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="email" class="form-control input-data" id="username" formControlName="username">
          </div>
          <small class="text-error" *ngIf="isInvalid('username')">*Ingrese un correo válido</small>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control input-data" id="password" formControlName="password">
          </div>
          <small class="form-text text-muted" *ngIf="isInvalid('password')">*Ingrese una contraseña valida</small>
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-login" (click)="logIn()" [disabled]="logInForm.invalid">Iniciar sesión</button>
        </div>

      </div>

    </form>

  </div>
</div>
