<div class="container-fluid p-0 action-client">

  <div class="header-action">
    <h3 class="header">{{ actionClient }} de Cliente</h3>
  </div>

  <div class="d-flex">

    <div class="row div-form">

      <div class="col-12">

        <form [formGroup]="clientForm">

          <div class="row w-100">

            <div class="col-12 col-md-6 form-group">
              <label for="name">Nombre</label>
              <input id="name" type="text" class="input-group input-data" formControlName="name">
              <small class="text-error" *ngIf="isInvalid('name')">*Ingrese su nombre</small>
            </div>

            <div class="col-12 col-md-6 form-group">
              <label for="lastName">Apellidos</label>
              <input id="lastName" type="text" class="input-group input-data" formControlName="lastName">
              <small class="text-error" *ngIf="isInvalid('lastName')">*Ingrese sus apellidos</small>
            </div>

            <div class="col-12 col-md-12 form-group">
              <label for="age">Edad</label>
              <input id="age" type="number" class="input-group input-data" formControlName="age">
              <small class="text-error" *ngIf="isInvalid('age')">*Ingrese un dato correcto</small>
            </div>

            <div class="col-12 form-group">
              <div class="row">

                <div class="col-10">
                  <label for="position">Puesto</label>
                  <input id="position" type="text" class="input-group input-data" formControlName="position">
                  <small class="text-error" *ngIf="isInvalid('position')">*Campo obligatorio</small>
                </div>

                <div class="col-2">
                  <label for="active" class="m-0">Activo</label>
                  <label class="switch m-0">
                    <input id="active" type="checkbox" class="input-group input-data" formControlName="active">
                    <span class="slider round"></span>
                  </label>
                </div>

              </div>
            </div>

          </div>

        </form>

      </div>

      <div class="col-12 form-group">
        <label for="position">Concesionaria</label>
        <select class="w-100 input-data list-concessionaire" [(ngModel)]="concessionaireSelected">
          <option [value]="concessionaire.concesionKey" *ngFor="let concessionaire of concessionaires"> {{ concessionaire.name}} </option>
        </select>
      </div>

      <div class="col-12 d-flex">
        <button class="btn btn-submit" (click)="saveOrUpdateClient()" [disabled]="clientForm.invalid"> {{txtBtnSaveOrUpdate }} </button>
      </div>

      <div class="col-12 d-flex mt-3">
        <button class="btn btn-back" (click)="back()"> Regresar </button>
      </div>

    </div>

  </div>
</div>
