.action-client {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-action {
  margin-bottom: 2%;
  margin-top: 2%;
  .header {
    padding-left: 5%;
    width: 80%;
    background-color: #20e420a8;
    border-radius: 3px 25px;
    margin-left: 3%;
    font-weight: bolder;
  }
}

.input-data {
  border-radius: 15px;
  border: 1px solid #c2c3c3;
  font-size: 20px;
}

.div-form {
  max-width: 800px;
  margin: auto;
}

.list-concessionaire {
  background-color: transparent;
  border: none;
  font-size: 22px;
}

.btn-submit {
  margin: auto;
  width: 70%;
  border: 2px solid #90e482de;
  border-radius: 20px;
  background-color: #90e482de;
  font-size: 20px;
  font-weight: bolder;
  color: #696868;
  box-shadow: 0 10px 15px lightgrey;
}

.btn-back {
  margin: auto;
  width: 40%;
  border: 2px solid #ff745f;
  border-radius: 20px;
  background-color: #ff745f;
  font-size: 20px;
  font-weight: bolder;
  color: #696868;
  box-shadow: 0 10px 15px lightgrey;
}

.text-error {
  margin-bottom: 2%;
  color: red;
  display: block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #90e482de;
}

input:focus + .slider {
  box-shadow: 0 0 1px #90e482de;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

